:root {
  --white--default: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#headerDiv {
  display: flex;
  height: 25%;
  font-size: 40px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  background: linear-gradient(to bottom left, #8aff80 90%, #2ca02c 50%);
  background-size: 100% 100%;
  color: black;
}
#resultsDiv {
  background-color: #c3e6c2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.workoutDiv {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
}
/* .exerciseDiv {
} */
main {
  width: 100%;
  background: linear-gradient(to top left, #8aff80 90%, #2ca02c 90%);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#buttonDiv {
  background-color: grey;
  border-radius: 10px;
  margin: auto;
}
#modalDiv {
  margin: auto;
  border: black 2px solid;
  padding: 20px;
  background-color: white;
}
.hidden {
  display: none;
}
