:root {
  --white--default: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
}

#headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}
#resultsDiv {
  background-color: #c3e6c2;
}
.resultCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
}
